# Node modules
node_modules/
tmp/
dist/
out-tsc/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment / Secrets
.env
.env.local
.env.*.local

# Nx / Angular / Webpack
.angular/
.cache/
.terraform/
.verdaccio/
coverage/
*.tsbuildinfo

# Misc
*.log
.angular

.nx/cache
.nx/workspace-data