<div *ngIf="!feature" class="empty">
    <span>Select a feature</span>
</div>

<div *ngIf="feature" class="detail">

    <div class="detail__header">
        <span class="detail__id">{{ feature.id }}</span>
        <span *ngIf="feature.label && feature.label !== feature.id" class="detail__label">
      {{ feature.label }}
    </span>
        <span *ngFor="let v of feature.visibility" class="detail__pill" [class]="'detail__pill--' + v">
      {{ v }}
    </span>
    </div>

    <div class="detail__code">
    <pre class="detail__pre language-json"><code
            [prismHighlight]="serialized"
            language="json"></code></pre>
    </div>

</div>