<div class="inspector-panel" *ngIf="feature; else emptyState">
    <header class="panel-header">
        <div class="breadcrumb">FEATURE / {{ feature.id }}</div>
        <h1>{{ feature.label }}</h1>
    </header>

    <div class="code-container">
        <pre><code [prismHighlight]="serialized" language="json"></code></pre>
    </div>
</div>

<ng-template #emptyState>
    <div class="placeholder">
        <div class="icon">🔍</div>
        <p>Select a feature to view metadata</p>
    </div>
</ng-template>