<div class="node-row"
     [class.is-selected]="isSelected"
     [style.padding-left.px]="depth * 16 + 8"
     (click)="toggle()">

  <span class="expander" *ngIf="hasChildren">
    <i class="chevron" [class.open]="open"></i>
  </span>
    <span class="no-expander" *ngIf="!hasChildren"></span>

    <!--span class="label">{{ feature.label }}</span-->
    <span class="id-tag">{{ feature.id }}</span>

    <span class="spacer"></span>

    <div class="badge-container">
    <span *ngFor="let v of visibilities" class="badge" [ngClass]="'v-' + v">
      {{ v }}
    </span>
    </div>
</div>

<div class="children-block" *ngIf="open && hasChildren">
    <feature-node
            *ngFor="let child of feature.children; trackBy: trackById"
            [feature]="child"
            [depth]="depth + 1"
            [selected]="selected"
            [onSelect]="onSelect">
    </feature-node>
</div>