.browser-wrapper {
  display: flex;
  height: 100%;
  background: #181818; /* Darkest layer */
  overflow: hidden;
}

.browser-sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
}

.sidebar-title {
  padding: 10px 16px;
  font-size: 11px;
  font-weight: 700;
  color: #6b6b6b;
  letter-spacing: 0.5px;
}

.scroll-content { flex: 1; overflow-y: auto; }

.browser-main { flex: 1; background: #000; }

.resizer {
    width: 1px;
    background: #333;
}