<div class="node-row"
     [class.is-selected]="isSelected"
     [style.padding-left.px]="depth * 16 + 8"
     (click)="toggle()">

    <mat-icon class="state-icon" *ngIf="hasChildren">
        {{ open ? 'expand_more' : 'chevron_right' }}
    </mat-icon>
    <mat-icon class="type-icon" *ngIf="!hasChildren">radio_button_checked</mat-icon>

    <span class="label">{{ feature.label }}</span>
    <span class="id-tag">{{ feature.id }}</span>

    <span class="spacer"></span>

    <span class="badge" [ngClass]="vis.class">{{ vis.label }}</span>
</div>

<div class="children-wrapper" *ngIf="open && hasChildren">
    <feature-node
            *ngFor="let child of feature.children; trackBy: trackById"
            [feature]="child"
            [depth]="depth + 1"
            [selected]="selected"
            [onSelect]="onSelect">
    </feature-node>
</div>