<div [style.marginLeft.px]="depth === 0 ? 0 : 16">
    <div
            class="node"
            [class.node--selected]="isSelected"
            [class.node--has-children]="hasChildren"
            (click)="toggle()">

        <div class="node__row">
            <span class="node__id">{{ feature.id }}</span>

            <span *ngIf="feature.label && feature.label !== feature.id" class="node__label">
        {{ feature.label }}
      </span>

            <span *ngFor="let v of visibilities" class="node__pill" [class]="'node__pill--' + v">
        {{ v }}
      </span>

            <span *ngFor="let tag of feature.tags" class="node__tag">{{ tag }}</span>

            <span *ngIf="hasChildren" class="node__count">{{ feature.children!.length }}</span>
        </div>
    </div>

    <ng-container *ngIf="hasChildren && open">
        <feature-node
                *ngFor="let child of feature.children; trackBy: trackById"
                [feature]="child"
                [depth]="depth + 1"
                [selected]="selected"
                [onSelect]="onSelect">
        </feature-node>
    </ng-container>
</div>