.node-row {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  font-size: 13px;
  color: #333; /* High contrast dark text */
  padding: 0 8px;
  transition: background 0.1s;
  user-select: none;
  border-radius: 4px;
  margin: 1px 4px;

  .badge-container {
      display: flex;
      column-gap: 5px;
  }

  &:hover { background: #f0f2f5; }

  &.is-selected {
    background: #e8f0fe; /* Soft Material Blue selection */
    color: #1967d2;      /* Primary Blue text */
    font-weight: 500;

    .id-tag {
        color: black;
    }
  }
}

.expander {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .chevron {
    border: solid #5f6368;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    transition: transform 0.2s;
    &.open { transform: rotate(45deg); }
  }
}

.label { margin-right: 8px; }
.id-tag {
    font-size: 13px;
    color: black;

}
.spacer { flex: 1; }

.badge {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.3px;

  &.v-public {
    background: green;
    color: white;
    border: 1px solid #ceead6;
  }
  &.v-private {
    background: red;
    color: white;
    border: 1px solid #feefc3;
  }
}