{{>licenseInfo}}

import { Injectable, Injector } from "@angular/core";
import { Observable } from "rxjs";
import { map } from "rxjs/operators";

import { AbstractHTTPService, Service } from "@ngx/communication";
{{#tsImports}}
import { {{importClass}}, {{importClass}}Schema } from '{{importFile}}'
{{/tsImports}}

@Injectable({ providedIn: 'root' })
@Service({ domain: "{{domain}}" })
export class {{classname}} extends AbstractHTTPService {
    // constructor

    constructor(injector: Injector) {
        super(injector)
    }

    // methods

{{#operations}}
   /**
    * {{summary}}
    {{#allParams}}
    * @param {{name}}
    {{/allParams}}
    */
    public {{nickname}}({{#allParams}}{{name}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/allParams}}): Observable<{{{returnType}}}> {
        return this.{{method}}<{{{returnType}}}>(`{{{path}}}`{{#bodyParam}}, this.serialize<{{{bodyType}}}>("{{{bodyType}}}", "", {{name}}){{/bodyParam}})
   {{^isVoid}}
            .pipe(map(response => {{#isVoid}}undefined{{/isVoid}}{{^isVoid}}this.deserialize<{{{returnType}}}>("{{{deserializerType}}}", "", response){{/isVoid}}));
   {{/isVoid}}
    }

{{/operations}}
}