{{>licenseInfo}}

import { AxiosRequestConfig } from 'axios'
import { singleton } from "tsyringe"
import { AbstractService, HTTPFactory, service } from "@foundation/communication"

{{#tsImports}}
    import { {{importClass}} } from '../model/{{importClass}}'
{{/tsImports}}

/**
* no description
*/
@service("")
@singleton()
export class {{classname}} extends AbstractService {
    // constructor

    constructor(factory: HTTPFactory) {
        super(factory)
    }

// public

{{#operations}}
    /**
    * {{summary}}
    {{#allParams}}
        * @param {{name}}
    {{/allParams}}
    */
    public async {{nickname}}({{#allParams}}{{name}}{{^required}}?{{/required}}: {{{dataType}}}{{^-last}}, {{/-last}}{{/allParams}}): Promise<{{{returnType}}}> {
        const requestContext: AxiosRequestConfig = {
            url: '{{{path}}}'{{#pathParams}}.replace('{' + '{{baseName}}' + '}', encodeURIComponent(String({{name}}))){{/pathParams}},
            method: '{{method}}'{{#bodyParam}},
            data: this.serialize("{{{bodyType}}}", "", {{name}}){{/bodyParam}}
        }

        const response = await this.request(requestContext)
    {{^isVoid}}
        return this.deserialize<{{{returnType}}}>("{{{deserializerType}}}", "", response.data)
    {{/isVoid}}
    }

{{/operations}}
}